body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 90%  ;
    height: auto;
    margin-top: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.txt {
    position: absolute;
    top: 200px;
}